In [1]:
import pandas as pd
import os
import glob
import time
import datetime

#### Combining All Loyalty Members' Transcation Data

In [2]:
file_list = os.listdir("/Users/bowenjin/Desktop/Lion's Choice/Data/loyalty transactions")

In [3]:
combined_data = pd.DataFrame()

In [4]:
for file_name in file_list:
    path = "/Users/bowenjin/Desktop/Lion's Choice/Data/loyalty transactions/" + file_name
    data = pd.read_csv(path, header = 1, low_memory=False)
    #print(len(data))
    #print(file_name)
    combined_data = pd.concat([combined_data,data])

In [5]:
combined_data

,Card Number,Account Code,Customer No.,Card Template,Transaction Date,Transaction Type,Store Merchant,Store Number,Store Name,Wallet Type,...,8 - Comp Dollars 8 - Balance,9 - Points 9 - Accrued,9 - Points 9 - Redeemed,9 - Points 9 - Balance,10 - Visits 10 - Accrued,10 - Visits 10 - Redeemed,10 - Visits 10 - Balance,0 - Stored Value 0 - Accrued,0 - Stored Value 0 - Redeemed,0 - Stored Value 0 - Balance
0,174100000622,32907372,NaN,Loyalty,2022-05-01 10:08,Campaign Adjustment,Lion's Choice,1,Ballwin,Rewards,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,174100001372,32907379,NaN,Loyalty,2022-05-01 03:08,Campaign Expiration,Lion's Choice,1,Ballwin,Rewards,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,174100001539,32907381,NaN,Loyalty,2022-05-01 03:08,Campaign Expiration,Lion's Choice,1,Ballwin,Rewards,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,174100001687,32907382,NaN,Loyalty,2022-05-01 03:08,Campaign Expiration,Lion's Choice,1,Ballwin,Rewards,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,174100002818,32907394,NaN,Loyalty,2022-05-01 10:08,Campaign Adjustment,Lion's Choice,1,Ballwin,Rewards,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3152,7560850044532419640,32851786,NaN,Incomm Schnucks,2022-04-10 12:32,Purchase Card,Lion's Choice,INCOMM,Incomm - Schnucks,Stored Value,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,0.00,10.00
3153,7560850044544953255,32851787,NaN,Incomm Schnucks,2022-04-10 14:13,Purchase Card,Lion's Choice,INCOMM,Incomm - Schnucks,Stored Value,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,0.00,10.00
3154,7560850048973207851,32852230,NaN,Incomm Schnucks,2022-04-10 13:02,Purchase Card,Lion's Choice,INCOMM,Incomm - Schnucks,Stored Value,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,0.00,20.00
3155,7571780007499841405,33119188,NaN,Migrated Gift Card,2022-04-10 13:16,Redeem Stored Value,Lion's Choice,13,Hanley Road,Stored Value,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-12.46,0.75
3156,7982810001952955177,33124684,NaN,Migrated Gift Card,2022-04-10 13:26,Redeem Stored Value,Lion's Choice,15,Mid Rivers,Stored Value,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-4.57,20.43

In [ ]:
#combined_data.to_csv('combined_data.csv')

####  Data Cleaning

In [34]:
all_columns = combined_data.columns.to_list()
numerical_columns = combined_data.describe().columns.to_list()
categorical_columns = []
for column in all_columns:
    if column not in numerical_columns:
        categorical_columns.append(column)

In [7]:
info_list = categorical_columns.copy()

for column in numerical_columns:
    if combined_data.describe().loc['count',column] != float(0):
        info_list.append(column)

In [8]:
info_list

['Customer No.',
 'Card Template',
 'Transaction Date',
 'Transaction Type',
 'Store Merchant',
 'Store Number',
 'Store Name',
 'Wallet Type',
 'Check No.',
 'Terminal ID',
 'Identification Method',
 'Account Status',
 'Sender',
 'Card Number',
 'Account Code',
 'Cashier ID',
 'Auth Code',
 '13 - $2 Off Butcher Block Sala 13 - Accrued',
 '13 - $2 Off Butcher Block Sala 13 - Redeemed',
 '13 - $2 Off Butcher Block Sala 13 - Balance',
 '1 - Dollars Spent 1 - Accrued',
 '1 - Dollars Spent 1 - Redeemed',
 '1 - Dollars Spent 1 - Balance',
 '2 - $3 Signup Reward 2 - Accrued',
 '2 - $3 Signup Reward 2 - Redeemed',
 '2 - $3 Signup Reward 2 - Balance',
 '3 - Reward Dollars 3 - Accrued',
 '3 - Reward Dollars 3 - Redeemed',
 '3 - Reward Dollars 3 - Balance',
 '11 - Free Regular Fry 11 - Accrued',
 '11 - Free Regular Fry 11 - Redeemed',
 '11 - Free Regular Fry 11 - Balance',
 '4 - Free Original Concrete 4 - Accrued',
 '4 - Free Original Concrete 4 - Redeemed',
 '4 - Free Original Concrete 4 - Balance',
 '5 - $2 Off Soup Bowl 5 - Accrued',
 '5 - $2 Off Soup Bowl 5 - Redeemed',
 '5 - $2 Off Soup Bowl 5 - Balance',
 '9 - Points 9 - Accrued',
 '9 - Points 9 - Redeemed',
 '9 - Points 9 - Balance',
 '10 - Visits 10 - Accrued',
 '10 - Visits 10 - Redeemed',
 '10 - Visits 10 - Balance',
 '0 - Stored Value 0 - Accrued',
 '0 - Stored Value 0 - Redeemed',
 '0 - Stored Value 0 - Balance']

In [9]:
loyal_trans = combined_data.loc[:, info_list]

In [10]:
#make sure all transactions are from loyalty members
loyal_trans = loyal_trans[loyal_trans['Card Template'] == 'Loyalty']

In [11]:
#drop unuseful cols 
loyal_trans = loyal_trans.drop(columns = ['Store Merchant','Wallet Type','Terminal ID','Identification Method',
                                          'Account Status','Sender','Auth Code', '0 - Stored Value 0 - Accrued',
                                          '0 - Stored Value 0 - Redeemed', '0 - Stored Value 0 - Balance'])

In [12]:
loyal_trans['Transaction Time'] = loyal_trans['Transaction Date'].map(lambda x : x[-5:])
loyal_trans['Transaction Date'] = loyal_trans['Transaction Date'].map(lambda x : x[:-6])

loyal_trans = loyal_trans[loyal_trans['Transaction Date'] >= '2022-04-13']
loyal_trans = loyal_trans.reset_index()

In [13]:
loyal_trans

,index,Customer No.,Card Template,Transaction Date,Transaction Type,Store Number,Store Name,Check No.,Card Number,Account Code,...,5 - $2 Off Soup Bowl 5 - Accrued,5 - $2 Off Soup Bowl 5 - Redeemed,5 - $2 Off Soup Bowl 5 - Balance,9 - Points 9 - Accrued,9 - Points 9 - Redeemed,9 - Points 9 - Balance,10 - Visits 10 - Accrued,10 - Visits 10 - Redeemed,10 - Visits 10 - Balance,Transaction Time
0,0,NaN,Loyalty,2022-05-01,Campaign Adjustment,1,Ballwin,web,174100000622,32907372,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10:08
1,1,NaN,Loyalty,2022-05-01,Campaign Expiration,1,Ballwin,web,174100001372,32907379,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03:08
2,2,NaN,Loyalty,2022-05-01,Campaign Expiration,1,Ballwin,web,174100001539,32907381,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03:08
3,3,NaN,Loyalty,2022-05-01,Campaign Expiration,1,Ballwin,web,174100001687,32907382,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03:08
4,4,NaN,Loyalty,2022-05-01,Campaign Adjustment,1,Ballwin,web,174100002818,32907394,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10:08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267716,5755,NaN,Loyalty,2022-05-13,Register,pxweb,Web Site,Guest Website,741019473031,49046645,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00:03
267717,5756,NaN,Loyalty,2022-05-13,Activate,5,South County,iOS,741019474963,49046649,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00:03
267718,5757,NaN,Loyalty,2022-05-13,Register,pxweb,Web Site,iOS,741019474963,49046649,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00:03
267719,5758,NaN,Loyalty,2022-05-13,Activate,4,St. Peters,iOS,741019475143,49046662,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00:36
267720,5759,NaN,Loyalty,2022-05-13,Register,pxweb,Web Site,iOS,741019475143,49046662,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00:36

In [14]:
test_data = loyal_trans[(loyal_trans['Transaction Type'] == 'Campaign Adjustment')&(loyal_trans['13 - $2 Off Butcher Block Sala 13 - Accrued'] > 0)]
test_data

,index,Customer No.,Card Template,Transaction Date,Transaction Type,Store Number,Store Name,Check No.,Card Number,Account Code,...,5 - $2 Off Soup Bowl 5 - Accrued,5 - $2 Off Soup Bowl 5 - Redeemed,5 - $2 Off Soup Bowl 5 - Balance,9 - Points 9 - Accrued,9 - Points 9 - Redeemed,9 - Points 9 - Balance,10 - Visits 10 - Accrued,10 - Visits 10 - Redeemed,10 - Visits 10 - Balance,Transaction Time
101932,0,NaN,Loyalty,2022-04-13,Campaign Adjustment,corp,Corporate,web,174100000028,32907366,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10:50
101933,1,NaN,Loyalty,2022-04-13,Campaign Adjustment,corp,Corporate,web,174100000176,32907367,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10:50
101934,2,NaN,Loyalty,2022-04-13,Campaign Adjustment,corp,Corporate,web,174100000440,32907370,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10:50
101935,3,NaN,Loyalty,2022-04-13,Campaign Adjustment,corp,Corporate,web,174100000515,32907371,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10:50
101936,4,NaN,Loyalty,2022-04-13,Campaign Adjustment,corp,Corporate,web,174100000770,32907373,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130991,29095,NaN,Loyalty,2022-04-13,Campaign Adjustment,corp,Corporate,web,741018244425,48870478,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10:50
130992,29096,NaN,Loyalty,2022-04-13,Campaign Adjustment,corp,Corporate,web,741018245224,48870525,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10:50
130993,29097,NaN,Loyalty,2022-04-13,Campaign Adjustment,corp,Corporate,web,741018246396,48870635,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10:50
130994,29098,NaN,Loyalty,2022-04-13,Campaign Adjustment,corp,Corporate,web,741018247196,48870678,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10:50
130995,29099,NaN,Loyalty,2022-04-13,Campaign Adjustment,corp,Corporate,web,741018248269,48870720,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10:50

#### Cleaning Data For RFM Analysis

In [15]:
#get all loyalty members' card number, without duplicates
member_list = list(test_data['Card Number'].unique())
member_list

[174100000028,
 174100000176,
 174100000440,
 174100000515,
 174100000770,
 174100000903,
 174100001000,
 174100001166,
 174100001216,
 174100001687,
 174100001943,
 174100002123,
 174100002248,
 174100002313,
 174100002446,
 174100002586,
 174100002701,
 174100002818,
 174100002917,
 174100003030,
 174100003246,
 174100003329,
 174100003410,
 174100003600,
 174100003758,
 174100004244,
 174100004442,
 174100004566,
 174100004624,
 174100004772,
 174100004889,
 174100004988,
 174100005134,
 174100005209,
 174100005514,
 174100005647,
 174100005803,
 174100006074,
 174100006173,
 174100006223,
 174100006637,
 174100006728,
 174100006900,
 174100007056,
 174100007262,
 174100007312,
 174100007601,
 174100007973,
 174100008328,
 174100008476,
 174100008583,
 174100008815,
 174100008914,
 174100009268,
 174100009672,
 174100009748,
 174100009813,
 174100009953,
 174100010274,
 174100010456,
 174100011058,
 174100011280,
 174100011520,
 174100011876,
 174100012031,
 174100012429,
 174100012742,
 174100012908,
 174100013526,
 174100013609,
 174100013914,
 174100014003,
 174100014136,
 174100014714,
 174100014839,
 174100015018,
 174100015208,
 174100015562,
 174100015653,
 174100015869,
 174100016545,
 174100016727,
 174100016818,
 174100017121,
 174100017238,
 174100017873,
 174100017964,
 174100018541,
 174100018616,
 174100018780,
 174100019069,
 174100019739,
 174100020307,
 174100021107,
 174100021313,
 174100021453,
 174100021578,
 174100021636,
 174100021727,
 174100021859,
 174100022188,
 174100022436,
 174100022964,
 174100023210,
 174100023434,
 174100023756,
 174100024234,
 174100024481,
 174100024515,
 174100024663,
 174100024747,
 174100024804,
 174100025116,
 174100025470,
 174100025744,
 174100025884,
 174100025926,
 174100026064,
 174100026445,
 174100027112,
 174100027344,
 174100027500,
 174100027815,
 174100027922,
 174100028045,
 174100028169,
 174100028268,
 174100028342,
 174100028656,
 174100028755,
 174100028987,
 174100029100,
 174100029456,
 174100029589,
 174100029621,
 174100030371,
 174100030579,
 174100030843,
 174100030967,
 174100031148,
 174100031502,
 174100031601,
 174100031775,
 174100031924,
 174100032088,
 174100032146,
 174100032302,
 174100032476,
 174100032658,
 174100032724,
 174100033169,
 174100033375,
 174100033904,
 174100034118,
 174100034233,
 174100035636,
 174100035776,
 174100035859,
 174100036105,
 174100036386,
 174100036576,
 174100036832,
 174100037020,
 174100037228,
 174100037376,
 174100037632,
 174100037905,
 174100038085,
 174100038309,
 174100038655,
 174100039026,
 174100039901,
 174100040032,
 174100040230,
 174100040321,
 174100040628,
 174100040719,
 174100041485,
 174100041519,
 174100041725,
 174100041808,
 174100042384,
 174100042400,
 174100042731,
 174100042814,
 174100042913,
 174100043085,
 174100043119,
 174100043622,
 174100043747,
 174100043846,
 174100044224,
 174100044638,
 174100044828,
 174100045163,
 174100045635,
 174100045858,
 174100045916,
 174100046179,
 174100046245,
 174100046369,
 174100046682,
 174100047102,
 174100047201,
 174100047300,
 174100047409,
 174100047524,
 174100047656,
 174100047771,
 174100047870,
 174100047979,
 174100048076,
 174100048381,
 174100048407,
 174100048563,
 174100049041,
 174100049512,
 174100049934,
 174100050130,
 174100050486,
 174100050569,
 174100050833,
 174100050932,
 174100051047,
 174100051146,
 174100051211,
 174100051534,
 174100051872,
 174100051948,
 174100052110,
 174100052243,
 174100052359,
 174100052557,
 174100052607,
 174100052755,
 174100052953,
 174100053076,
 174100053159,
 174100053407,
 174100054017,
 174100054421,
 174100054546,
 174100054728,
 174100055063,
 174100055246,
 174100055352,
 174100055683,
 174100055774,
 174100055873,
 174100055931,
 174100056186,
 174100056418,
 174100056541,
 174100056772,
 174100057226,
 174100057325,
 174100057754,
 174100058380,
 174100058513,
 174100058711,
 174100059008,
 174100059255,
 174100059321,
 174100059438,
 174100059685,
 174100059727,
 174100059875,
 174100060055,
 174100060154,
 174100060303,
 174100060402,
 174100060881,
 174100060923,
 174100061129,
 174100061269,
 174100061301,
 174100061467,
 174100061541,
 174100061939,
 174100062580,
 174100062622,
 174100062747,
 174100062945,
 174100063034,
 174100063273,
 174100063356,
 174100063653,
 174100063703,
 174100063877,
 174100064172,
 174100064248,
 174100064362,
 174100064487,
 174100064586,
 174100064628,
 174100064719,
 174100065005,
 174100065161,
 174100065484,
 174100065633,
 174100065724,
 174100066029,
 174100066110,
 174100066573,
 174100066680,
 174100066763,
 174100066904,
 174100067134,
 174100067472,
 174100067662,
 174100067746,
 174100067886,
 174100068041,
 174100068231,
 174100068553,
 174100068777,
 174100068801,
 174100068934,
 174100069270,
 174100069387,
 174100069627,
 174100069726,
 174100070120,
 174100070385,
 174100070435,
 174100070559,
 174100070781,
 174100071037,
 174100071219,
 174100071318,
 174100071540,
 174100071656,
 174100071763,
 174100071888,
 174100072183,
 174100072514,
 174100072639,
 174100072761,
 174100072860,
 174100072902,
 174100073082,
 174100073645,
 174100073728,
 174100073843,
 174100074023,
 174100074262,
 174100074361,
 174100074460,
 174100074601,
 174100074858,
 174100075137,
 174100075442,
 174100075616,
 174100076168,
 174100076309,
 174100076440,
 174100076648,
 174100076861,
 174100077075,
 174100077133,
 174100077380,
 174100077430,
 174100078149,
 174100078347,
 174100078503,
 174100078685,
 174100078925,
 174100079022,
 174100079212,
 174100079477,
 174100079840,
 174100080244,
 174100080665,
 174100080707,
 174100081184,
 174100081200,
 174100081952,
 174100082141,
 174100082414,
 174100082547,
 174100082901,
 174100083206,
 174100083453,
 174100083677,
 174100084303,
 174100084923,
 174100085177,
 174100085359,
 174100085904,
 174100086043,
 174100086183,
 174100086217,
 174100086308,
 174100086423,
 174100086779,
 174100086985,
 174100087124,
 174100087215,
 174100087470,
 174100087538,
 174100087769,
 174100087967,
 174100088015,
 174100088171,
 174100088247,
 174100088403,
 174100088585,
 174100088650,
 174100088882,
 174100088932,
 174100089211,
 174100089575,
 174100089864,
 174100090177,
 174100090219,
 174100090474,
 174100090508,
 174100090722,
 174100091001,
 174100091258,
 174100091332,
 174100091415,
 174100091548,
 174100091647,
 174100091753,
 174100091829,
 174100091969,
 174100092116,
 174100092322,
 174100092587,
 174100092660,
 174100092827,
 174100092983,
 174100093080,
 174100093171,
 174100093361,
 174100093502,
 174100093668,
 174100093718,
 174100093858,
 174100093932,
 174100094138,
 174100094211,
 174100094369,
 174100094542,
 174100094732,
 174100094807,
 174100094930,
 174100095077,
 174100095101,
 174100095275,
 174100095366,
 174100095622,
 174100095762,
 174100095887,
 174100095945,
 174100096679,
 174100096778,
 174100096844,
 174100096919,
 174100097032,
 174100097248,
 174100097388,
 174100097438,
 174100097552,
 174100097818,
 174100097941,
 174100098071,
 174100098147,
 174100098238,
 174100098360,
 174100098576,
 174100098626,
 174100098782,
 174100098865,
 174100099061,
 174100099178,
 174100099277,
 174100099582,
 174100099632,
 174100099707,
 174100100323,
 174100100752,
 174100100802,
 174100101081,
 174100101123,
 174100101255,
 174100101313,
 174100101669,
 174100101701,
 174100101982,
 174100102006,
 174100102162,
 174100102543,
 174100102626,
 174100102964,
 174100103053,
 174100103244,
 174100103376,
 174100103442,
 174100103657,
 174100103772,
 174100104168,
 174100104259,
 174100104622,
 174100104887,
 174100104978,
 174100105082,
 174100105140,
 174100105561,
 174100105744,
 174100105835,
 174100105900,
 174100106106,
 174100106288,
 174100106478,
 174100106817,
 174100107070,
 174100107278,
 174100107328,
 174100107567,
 174100107674,
 174100107708,
 174100107831,
 174100107948,
 174100108029,
 174100108557,
 174100108664,
 174100108706,
 174100109258,
 174100109621,
 174100109829,
 174100110140,
 174100110363,
 174100110645,
 174100110728,
 174100111080,
 174100111148,
 174100111478,
 174100111742,
 174100111833,
 174100112476,
 174100112880,
 174100112922,
 174100113938,
 174100114829,
 174100115065,
 174100115115,
 174100115206,
 174100115651,
 174100116220,
 174100116683,
 174100116733,
 174100116964,
 174100117152,
 174100117301,
 174100117525,
 174100118325,
 174100118572,
 174100119356,
 174100119489,
 174100119539,
 174100120123,
 174100120263,
 174100120552,
 174100120883,
 174100121071,
 174100121568,
 174100121659,
 174100121956,
 174100122160,
 174100122228,
 174100122327,
 174100122459,
 174100122558,
 174100122673,
 174100122954,
 174100123143,
 174100123200,
 174100123325,
 174100123424,
 174100123556,
 174100124083,
 174100124679,
 174100124927,
 174100126138,
 174100126484,
 174100126518,
 174100126617,
 174100126880,
 174100126989,
 174100127110,
 174100127268,
 174100127532,
 174100127706,
 174100127813,
 174100127904,
 174100128159,
 174100128225,
 174100128340,
 174100128431,
 174100128571,
 174100128605,
 174100128720,
 174100128860,
 174100128985,
 174100129132,
 174100129348,
 174100129405,
 174100129744,
 174100129843,
 174100130049,
 174100130304,
 174100130635,
 174100130775,
 174100130965,
 174100131161,
 174100131385,
 174100131443,
 174100131542,
 174100131666,
 174100131807,
 174100132052,
 174100132243,
 174100132359,
 174100132417,
 174100132904,
 174100133167,
 174100133308,
 174100133423,
 174100133548,
 174100133811,
 174100134108,
 174100134249,
 174100134553,
 174100135089,
 174100135477,
 174100135634,
 174100135733,
 174100135923,
 174100136426,
 174100136913,
 174100137002,
 174100137242,
 174100137366,
 174100137416,
 174100137846,
 174100139024,
 174100139370,
 174100139560,
 174100139784,
 174100139917,
 174100140014,
 174100140402,
 174100140543,
 174100140972,
 174100141202,
 174100141368,
 174100141640,
 174100141764,
 174100141871,
 174100142002,
 174100142341,
 174100142549,
 174100142861,
 174100143042,
 174100143224,
 174100143687,
 174100143851,
 174100143901,
 174100145229,
 174100145773,
 174100145880,
 174100145930,
 174100146409,
 174100146524,
 174100146763,
 174100147258,
 174100147449,
 174100147654,
 174100147704,
 174100148025,
 174100148421,
 174100148637,
 174100148769,
 174100148876,
 174100149007,
 174100149114,
 174100149270,
 174100149338,
 174100149551,
 174100149759,
 174100149874,
 174100149965,
 174100150054,
 174100150179,
 174100150260,
 174100150328,
 174100150583,
 174100150914,
 174100151417,
 174100151557,
 174100151821,
 174100152134,
 174100152522,
 174100152977,
 174100153389,
 174100153439,
 174100153710,
 174100153827,
 174100153934,
 174100154247,
 174100154460,
 174100154874,
 174100154924,
 174100155509,
 174100155673,
 174100155715,
 174100156085,
 174100156150,
 174100156333,
 174100156473,
 174100156788,
 174100157133,
 174100157224,
 174100157406,
 174100157570,
 174100157661,
 174100158115,
 174100158602,
 174100158867,
 174100159162,
 174100159329,
 174100159428,
 174100159618,
 174100159725,
 174100159881,
 174100159923,
 174100160202,
 174100160343,
 174100160954,
 174100161267,
 174100161630,
 174100161788,
 174100161820,
 174100162364,
 174100162679,
 174100162836,
 174100163420,
 174100163529,
 174100163800,
 174100163933,
 174100164956,
 174100165276,
 174100165334,
 174100166159,
 174100166357,
 174100166472,
 174100166522,
 174100166704,
 174100166951,
 174100167009,
 174100167140,
 174100167280,
 174100167488,
 174100167777,
 174100167918,
 174100168361,
 174100168452,
 174100168544,
 174100168981,
 174100169807,
 174100170029,
 174100170235,
 174100170334,
 174100170557,
 174100170938,
 174100171035,
 174100171159,
 174100171464,
 174100171670,
 174100171910,
 174100172181,
 174100172413,
 174100172900,
 174100173064,
 174100173189,
 174100173254,
 174100173676,
 174100173965,
 174100174286,
 174100174336,
 174100174542,
 174100174765,
 174100174880,
 174100174922,
 174100175002,
 174100175259,
 174100175663,
 174100175812,
 174100176067,
 174100176216,
 174100176729,
 174100176810,
 174100176943,
 174100177032,
 174100177271,
 174100177388,
 174100177529,
 174100177727,
 174100178089,
 174100178139,
 174100178337,
 174100178451,
 174100178501,
 174100178741,
 174100178907,
 174100179210,
 174100179525,
 174100179731,
 174100180119,
 174100180440,
 174100180739,
 174100180853,
 174100181042,
 174100181141,
 174100181331,
 174100181422,
 174100181851,
 174100181976,
 174100182248,
 174100182420,
 174100182503,
 174100182784,
 174100183006,
 174100183337,
 174100183428,
 174100183535,
 174100183659,
 174100183816,
 174100184269,
 174100184459,
 174100184541,
 174100184616,
 174100185027,
 174100185209,
 174100185332,
 174100185845,
 174100186108,
 174100186306,
 174100186462,
 174100186843,
 174100186918,
 174100187452,
 174100187759,
 174100187916,
 174100188047,
 174100188401,
 174100188641,
 174100189300,
 174100189524,
 174100189888,
 174100190365,
 174100190761,
 174100190902,
 174100191272,
 174100191835,
 174100191967,
 174100192650,
 174100192742,
 174100192858,
 174100193021,
 174100193104,
 174100193823,
 174100194177,
 174100194441,
 174100194516,
 174100195042,
 174100195265,
 174100195331,
 174100195570,
 174100195661,
 174100195778,
 174100195984,
 174100196131,
 174100196826,
 174100197006,
 174100197303,
 174100197865,
 174100197972,
 174100198178,
 174100198301,
 174100198483,
 174100198558,
 174100198632,
 174100198749,
 174100198889,
 174100199044,
 174100199101,
 174100199218,
 174100199648,
 174100199960,
 174100200081,
 174100200255,
 174100200669,
 174100200743,
 174100200826,
 174100201063,
 174100201527,
 174100201964,
 174100202962,
 174100203242,
 174100203572,
 174100204083,
 174100204208,
 174100204422,
 174100204570,
 174100204836,
 174100204901,
 174100205064,
 174100205254,
 174100205684,
 174100205825,
 174100206187,
 174100206344,
 174100206484,
 174100206542,
 174100206658,
 174100206708,
 174100207003,
 174100207102,
 174100207367,
 174100207557,
 174100207607,
 174100208035,
 174100208407,
 174100208738,
 174100208928,
 174100209066,
 174100209272,
 174100209454,
 174100209777,
 174100210270,
 174100210650,
 174100210734,
 174100210932,
 174100211070,
 174100211427,
 174100211518,
 174100211633,
 174100212078,
 174100212151,
 174100212219,
 174100212623,
 174100213035,
 174100213134,
 174100213274,
 174100213761,
 174100213944,
 174100214058,
 174100214587,
 174100214843,
 174100215006,
 174100215287,
 174100215360,
 174100215451,
 174100215634,
 174100215782,
 174100215840,
 174100216079,
 174100216277,
 174100216319,
 174100216756,
 174100217101,
 174100217234,
 174100217630,
 174100217812,
 174100218000,
 174100218166,
 174100218307,
 174100218463,
 174100219032,
 174100219164,
 174100219628,
 174100219727,
 174100219818,
 174100220048,
 174100220543,
 174100220774,
 174100221160,
 174100221368,
 174100221426,
 174100221723,
 174100221822,
 174100222119,
 174100222226,
 174100222374,
 174100222663,
 174100222887,
 174100222978,
 ...]

In [16]:
partial_data = loyal_trans[loyal_trans['Card Number'].isin(member_list)]

In [17]:
partial_data

,index,Customer No.,Card Template,Transaction Date,Transaction Type,Store Number,Store Name,Check No.,Card Number,Account Code,...,5 - $2 Off Soup Bowl 5 - Accrued,5 - $2 Off Soup Bowl 5 - Redeemed,5 - $2 Off Soup Bowl 5 - Balance,9 - Points 9 - Accrued,9 - Points 9 - Redeemed,9 - Points 9 - Balance,10 - Visits 10 - Accrued,10 - Visits 10 - Redeemed,10 - Visits 10 - Balance,Transaction Time
3,3,NaN,Loyalty,2022-05-01,Campaign Expiration,1,Ballwin,web,174100001687,32907382,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03:08
4,4,NaN,Loyalty,2022-05-01,Campaign Adjustment,1,Ballwin,web,174100002818,32907394,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10:08
5,5,NaN,Loyalty,2022-05-01,Campaign Adjustment,1,Ballwin,web,174100002917,32907395,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10:08
6,6,NaN,Loyalty,2022-05-01,Campaign Adjustment,1,Ballwin,web,174100003030,32907396,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10:08
7,7,NaN,Loyalty,2022-05-01,Campaign Adjustment,1,Ballwin,web,174100003410,32907400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10:08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267290,5329,NaN,Loyalty,2022-05-12,Identify Customer,21,Ellisville,627d6df708730d0af90d7462,741018241694,48870311,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16:30
267291,5330,NaN,Loyalty,2022-05-12,Identify Customer,21,Ellisville,627d6df708730d0af90d7462,741018241694,48870311,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16:30
267292,5331,NaN,Loyalty,2022-05-12,Balance Inquiry,21,Ellisville,627d6df708730d0af90d7462,741018241694,48870311,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16:37
267293,5332,NaN,Loyalty,2022-05-12,Accrual / Redemption,21,Ellisville,627d6df708730d0af90d7462,741018241694,48870311,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1.0,16:37
267294,5333,NaN,Loyalty,2022-05-12,Accrual / Redemption,21,Ellisville,627d6df708730d0af90d7462,741018241694,48870311,...,NaN,NaN,NaN,19.0,0.0,19.0,NaN,NaN,NaN,17:30

In [18]:
#Fill in all the NaN for the salad coupon
partial_data['13 - $2 Off Butcher Block Sala 13 - Redeemed'] = partial_data['13 - $2 Off Butcher Block Sala 13 - Redeemed'].map(lambda x : abs(x) if x < 0 else 0)

<ipython-input-18-db35e5a12b49>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  partial_data['13 - $2 Off Butcher Block Sala 13 - Redeemed'] = partial_data['13 - $2 Off Butcher Block Sala 13 - Redeemed'].map(lambda x : abs(x) if x < 0 else 0)

In [19]:
partial_data[(partial_data['Transaction Type'] == 'Campaign Expiration')
             &(partial_data['13 - $2 Off Butcher Block Sala 13 - Redeemed'] > 0)]

,index,Customer No.,Card Template,Transaction Date,Transaction Type,Store Number,Store Name,Check No.,Card Number,Account Code,...,5 - $2 Off Soup Bowl 5 - Accrued,5 - $2 Off Soup Bowl 5 - Redeemed,5 - $2 Off Soup Bowl 5 - Balance,9 - Points 9 - Accrued,9 - Points 9 - Redeemed,9 - Points 9 - Balance,10 - Visits 10 - Accrued,10 - Visits 10 - Redeemed,10 - Visits 10 - Balance,Transaction Time
138853,0,NaN,Loyalty,2022-04-18,Campaign Expiration,corp,Corporate,web,174100000028,32907366,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03:05
138854,1,NaN,Loyalty,2022-04-18,Campaign Expiration,corp,Corporate,web,174100000176,32907367,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03:05
138855,2,NaN,Loyalty,2022-04-18,Campaign Expiration,corp,Corporate,web,174100000440,32907370,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03:05
138856,3,NaN,Loyalty,2022-04-18,Campaign Expiration,corp,Corporate,web,174100000515,32907371,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03:05
138857,4,NaN,Loyalty,2022-04-18,Campaign Expiration,corp,Corporate,web,174100000770,32907373,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03:05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167746,28999,NaN,Loyalty,2022-04-18,Campaign Expiration,corp,Corporate,web,741018244425,48870478,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03:05
167747,29000,NaN,Loyalty,2022-04-18,Campaign Expiration,corp,Corporate,web,741018245224,48870525,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03:05
167748,29001,NaN,Loyalty,2022-04-18,Campaign Expiration,corp,Corporate,web,741018246396,48870635,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03:05
167749,29002,NaN,Loyalty,2022-04-18,Campaign Expiration,corp,Corporate,web,741018247196,48870678,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03:05
167750,29003,NaN,Loyalty,2022-04-18,Campaign Expiration,corp,Corporate,web,741018248269,48870720,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03:05

In [20]:
#further sort out unuseful data based on transaction type
partial_data = partial_data[partial_data['Transaction Type'] != 'Campaign Expiration']

In [21]:
partial_data.iloc[:,:15]

,index,Customer No.,Card Template,Transaction Date,Transaction Type,Store Number,Store Name,Check No.,Card Number,Account Code,Cashier ID,13 - $2 Off Butcher Block Sala 13 - Accrued,13 - $2 Off Butcher Block Sala 13 - Redeemed,13 - $2 Off Butcher Block Sala 13 - Balance,1 - Dollars Spent 1 - Accrued
4,4,NaN,Loyalty,2022-05-01,Campaign Adjustment,1,Ballwin,web,174100002818,32907394,32028502,NaN,0.0,NaN,NaN
5,5,NaN,Loyalty,2022-05-01,Campaign Adjustment,1,Ballwin,web,174100002917,32907395,32028502,NaN,0.0,NaN,NaN
6,6,NaN,Loyalty,2022-05-01,Campaign Adjustment,1,Ballwin,web,174100003030,32907396,32028502,NaN,0.0,NaN,NaN
7,7,NaN,Loyalty,2022-05-01,Campaign Adjustment,1,Ballwin,web,174100003410,32907400,32028502,NaN,0.0,NaN,NaN
8,8,NaN,Loyalty,2022-05-01,Campaign Adjustment,1,Ballwin,web,174100003600,32907402,32028502,NaN,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267290,5329,NaN,Loyalty,2022-05-12,Identify Customer,21,Ellisville,627d6df708730d0af90d7462,741018241694,48870311,0,NaN,0.0,NaN,NaN
267291,5330,NaN,Loyalty,2022-05-12,Identify Customer,21,Ellisville,627d6df708730d0af90d7462,741018241694,48870311,0,NaN,0.0,NaN,NaN
267292,5331,NaN,Loyalty,2022-05-12,Balance Inquiry,21,Ellisville,627d6df708730d0af90d7462,741018241694,48870311,0,NaN,0.0,NaN,NaN
267293,5332,NaN,Loyalty,2022-05-12,Accrual / Redemption,21,Ellisville,627d6df708730d0af90d7462,741018241694,48870311,0,NaN,0.0,NaN,NaN
267294,5333,NaN,Loyalty,2022-05-12,Accrual / Redemption,21,Ellisville,627d6df708730d0af90d7462,741018241694,48870311,0,NaN,0.0,NaN,4.85

In [22]:
#select columns uselful for RFM analysis
rfm_data = partial_data.loc[:, ['Card Number','1 - Dollars Spent 1 - Balance','10 - Visits 10 - Balance',
                               '13 - $2 Off Butcher Block Sala 13 - Redeemed']]
rfm_data

,Card Number,1 - Dollars Spent 1 - Balance,10 - Visits 10 - Balance,13 - $2 Off Butcher Block Sala 13 - Redeemed
4,174100002818,NaN,NaN,0.0
5,174100002917,NaN,NaN,0.0
6,174100003030,NaN,NaN,0.0
7,174100003410,NaN,NaN,0.0
8,174100003600,NaN,NaN,0.0
...,...,...,...,...
267290,741018241694,NaN,NaN,0.0
267291,741018241694,NaN,NaN,0.0
267292,741018241694,NaN,NaN,0.0
267293,741018241694,NaN,1.0,0.0
267294,741018241694,4.85,NaN,0.0

In [23]:
rfm_trans = rfm_data.groupby(['Card Number']).max()
rfm_trans

,1 - Dollars Spent 1 - Balance,10 - Visits 10 - Balance,13 - $2 Off Butcher Block Sala 13 - Redeemed
Card Number,,,
174100000028,195.66,15.0,0.0
174100000176,562.74,24.0,0.0
174100000440,NaN,NaN,0.0
174100000515,164.85,13.0,0.0
174100000770,NaN,NaN,0.0
...,...,...,...
741018244425,29.48,3.0,0.0
741018245224,NaN,NaN,0.0
741018246396,NaN,NaN,0.0
741018247196,33.25,3.0,0.0
741018248269,NaN,NaN,0.0

In [24]:
#read in loyalty account info data
accounts_data = pd.read_csv("/Users/bowenjin/Desktop/Lion's Choice/Data/loyal_info.csv")
accounts_data.head()

/Applications/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (7,14,18,23) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Email Opt-In,Push Opt-In,SMS Opt-In,SMS Opt-In Verified,Email Failed,SanitizedEmail,Is Registered,Title,First Name,Last Name,...,Enroll Store Code,Enroll Store Name,Favorite Store Code,Favorite Store Name,Register Date,Last Guest Activity Date,Phone Area Code,Mobile Phone Area Code,Card Number,Account Code
0,No,Yes,No,No,NaN,****@paytronix.com,Yes,NaN,Dave,Removed,...,pxweb,Web Site,NaN,NaN,1/25/2021,1/19/2022,303.0,303.0,741000000835,32013214
1,No,No,No,No,NaN,****@paytronix.com,Yes,NaN,NaN,Removed,...,SMS,Loyalty SMS,NaN,NaN,1/25/2021,1/25/2021,201.0,201.0,741000001320,32013323
2,Yes,No,No,No,Yes,****@paytronix.com,Yes,NaN,Test,Removed,...,SMS,Loyalty SMS,NaN,NaN,1/25/2021,1/25/2021,914.0,914.0,741000002765,32013354
3,Yes,No,Yes,Yes,NaN,****@paytronix.com,Yes,NaN,NaN,Removed,...,SMS,Loyalty SMS,NaN,NaN,2/3/2021,2/3/2021,305.0,305.0,741000003540,32030188
4,Yes,No,Yes,Yes,NaN,****@paytronix.com,Yes,NaN,NaN,Removed,...,SMS,Loyalty SMS,NaN,NaN,2/3/2021,2/3/2021,617.0,617.0,741000004712,32030190

In [25]:
#sort the info data based on the unique cardnumber and get only the last activity date col
partial_accounts = accounts_data[accounts_data['Card Number'].isin(member_list)].loc[:, ['Card Number', 'Last Guest Activity Date']]

In [26]:
partial_accounts

        Card Number Last Guest Activity Date
0      741000000835                1/19/2022
1      741000001320                1/25/2021
2      741000002765                1/25/2021
3      741000003540                 2/3/2021
4      741000004712                 2/3/2021
...             ...                      ...
71675  741018244425                5/26/2022
71676  741018245224                4/12/2022
71677  741018246396                4/12/2022
71678  741018247196                5/10/2022
71679  741018248269                4/12/2022

[25763 rows x 2 columns]

In [27]:
#merge the two dataset on card number
rfm_trans = rfm_trans.merge(partial_accounts, on = 'Card Number')
rfm_trans

,Card Number,1 - Dollars Spent 1 - Balance,10 - Visits 10 - Balance,13 - $2 Off Butcher Block Sala 13 - Redeemed,Last Guest Activity Date
0,174100000028,195.66,15.0,0.0,4/26/2022
1,174100000176,562.74,24.0,0.0,5/5/2022
2,174100000440,NaN,NaN,0.0,2/26/2022
3,174100000515,164.85,13.0,0.0,5/3/2022
4,174100000770,NaN,NaN,0.0,3/25/2022
...,...,...,...,...,...
25758,741018244425,29.48,3.0,0.0,5/26/2022
25759,741018245224,NaN,NaN,0.0,4/12/2022
25760,741018246396,NaN,NaN,0.0,4/12/2022
25761,741018247196,33.25,3.0,0.0,5/10/2022
25762,741018248269,NaN,NaN,0.0,4/12/2022

In [28]:
#convert NaN to 0
rfm_trans['1 - Dollars Spent 1 - Balance'] = rfm_trans['1 - Dollars Spent 1 - Balance'].map(lambda x : x if x > 0 else 0)
rfm_trans['10 - Visits 10 - Balance'] = rfm_trans['10 - Visits 10 - Balance'].map(lambda x : x if x > 0 else 0)

In [29]:
#calculate the number of days since the last activity
rfm_trans['Last Guest Activity Date'] = rfm_trans['Last Guest Activity Date'].map(lambda x: time.strftime('%Y-%m-%d', time.strptime(x, '%m/%d/%Y'))) 
rfm_trans['Last Guest Activity Date'] = rfm_trans['Last Guest Activity Date'].map(lambda x: (datetime.datetime.strptime('2022-05-27', '%Y-%m-%d') - datetime.datetime.strptime(x, '%Y-%m-%d')).days)

In [30]:
#final cleaned data for rfm analysis
rfm_trans

,Card Number,1 - Dollars Spent 1 - Balance,10 - Visits 10 - Balance,13 - $2 Off Butcher Block Sala 13 - Redeemed,Last Guest Activity Date
0,174100000028,195.66,15.0,0.0,31
1,174100000176,562.74,24.0,0.0,22
2,174100000440,0.00,0.0,0.0,90
3,174100000515,164.85,13.0,0.0,24
4,174100000770,0.00,0.0,0.0,63
...,...,...,...,...,...
25758,741018244425,29.48,3.0,0.0,1
25759,741018245224,0.00,0.0,0.0,45
25760,741018246396,0.00,0.0,0.0,45
25761,741018247196,33.25,3.0,0.0,17
25762,741018248269,0.00,0.0,0.0,45

In [31]:
rfm_trans.describe()

,Card Number,1 - Dollars Spent 1 - Balance,10 - Visits 10 - Balance,13 - $2 Off Butcher Block Sala 13 - Redeemed,Last Guest Activity Date
count,2.576300e+04,25763.000000,25763.000000,25763.000000,25763.000000
mean,4.300835e+11,140.370659,11.727866,0.004930,63.655009
std,2.821253e+11,308.733951,28.893380,0.070039,58.131860
min,1.741000e+11,0.000000,0.000000,0.000000,0.000000
25%,1.741018e+11,0.000000,0.000000,0.000000,14.000000
50%,1.741041e+11,0.000000,0.000000,0.000000,48.000000
75%,7.410112e+11,161.860000,13.000000,0.000000,104.000000
max,7.410182e+11,6510.820000,954.000000,1.000000,1656.000000

In [43]:
#rfm_trans.to_csv('rfm_trans.csv')

#### Combining POS transaction data and some basic cleaning

In [35]:
#Combining all files
files_joined = os.path.join("/Users/bowenjin/Desktop/Lion's Choice/Data/pos transaction detail", "OC*")
list_files = glob.glob(files_joined)
df_pos_combined = pd.concat(map(pd.read_csv, list_files), ignore_index=True)

In [36]:
df_pos_combined.head()

,Location,Closed Date/Time,Employee Name,Item ID,Item Name,Item PLU,Price,Discount Total,Promotion Total,Taxes,Net Sales,Gross Sales,Total Sales,Revenue Center,Has Employee Discount,Destination,Voided,Has Customer,Is Modifier,Order ID
0,LC Corporate ***Office - Lab***,4/22/2022 1:30 AM,None,640246517.0,Notes,NaN,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,Condiments,0.0,PX Pickup,0.0,0.0,0.0,3.112384e+15
1,LC Corporate ***Office - Lab***,4/22/2022 1:30 AM,None,640247487.0,Regular Strawberry Shake (Online),NaN,$2.00,$0.00,$0.00,$0.18,$2.00,$2.00,$2.18,Desserts,0.0,PX Pickup,0.0,0.0,0.0,3.112384e+15
2,LC Corporate ***Office - Lab***,4/22/2022 1:30 AM,None,640237610.0,OLO Only Regular Concrete,NaN,$2.00,$0.00,$0.00,$0.19,$2.00,$2.00,$2.19,Desserts,0.0,PX Pickup,0.0,0.0,0.0,3.112384e+15
3,LC Corporate ***Office - Lab***,4/22/2022 1:30 AM,None,640214520.0,Strawberry (r),NaN,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,Condiments,0.0,PX Pickup,0.0,0.0,1.0,3.112384e+15
4,LC Corporate ***Office - Lab***,4/22/2022 1:30 AM,None,640242676.0,Spoon,NaN,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,Condiments,0.0,PX Pickup,0.0,0.0,1.0,3.112384e+15

In [37]:
df_pos_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4037135 entries, 0 to 4037134
Data columns (total 20 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Location               object
 1   Closed Date/Time       object
 2   Employee Name          object
 3   Item ID                float64
 4   Item Name              object
 5   Item PLU               float64
 6   Price                  object
 7   Discount Total         object
 8   Promotion Total        object
 9   Taxes                  object
 10  Net Sales              object
 11  Gross Sales            object
 12  Total Sales            object
 13  Revenue Center         object
 14  Has Employee Discount  float64
 15  Destination            object
 16  Voided                 float64
 17  Has Customer           float64
 18  Is Modifier            float64
 19  Order ID               float64
dtypes: float64(7), object(13)
memory usage: 616.0+ MB

In [ ]:
#Data Exploration and Cleaning for building Tableau dashborad

In [38]:
df_pos_combined['Voided'].unique()

array([ 0.,  1., nan])

In [39]:
df_pos_combined['Item Name'].unique()

array(['Notes', 'Regular Strawberry Shake (Online)',
       'OLO Only Regular Concrete', 'Strawberry (r)', 'Spoon',
       'Strawberry Sundae', 'Regular Turkey (pp) (px)', 'Provel Cheese',
       'Seasoning', 'Regular Ham (pp) (px)', 'Swiss Cheese',
       'Regular Roast Beef (pp) (px)', 'Cheddar Cheese', 'GF Bun',
       'Spicy Giard', 'Cookie Platter (Cater)', 'Asst. Cookie (Cater)',
       'Choc Chip Cookie (Cater) ', 'Sugar Cookie (Cater) ',
       'Regular Ham (c) (Cater) ', 'Regular Ham Meal (Cater)',
       'House Chips (Cater) ', 'King Roast Beef (c)', 'Well Done',
       'SEE CASHIER!', 'Large Fries', 'Large Drink',
       'Diet Dr. Pepper (l)', 'King Roast Beef Meal',
       'Regular Roast Beef', 'Bowl Broccoli Cheese Soup', 'Baked Potato',
       'Sour Cream', 'Butter', 'Broccoli', 'Cup Chili',
       'Seasoning (Packet)', 'Au Jus', 'Regular Roast Beef (c)',
       'Regular Fries', 'Reg Drink', 'Dr. Pepper (r)',
       'Regular Roast Beef Meal', 'Coke (r)', 'No Condiment', 'Coke (l)',
       'Baked Potato (OLO)', 'Fork & Knife', 'Regular Drink (OLO)',
       'Sprite (r)', 'Horseradish Sauce', 'BBQ Sauce (Sweet & Smokey)',
       'Large Roast Beef (c)', 'Large Fries. (OLO)', 'Large Drink (OLO)',
       'SWEET Tea (l)', 'Ice', 'Original Bun', 'Ice Tea (l)',
       'Lemonade (l)', 'Honey Mustard', 'Large Roast Beef Meal',
       'Ice Tea (r)', 'Sugar Cookie', "Barq's (r)", 'Roast Beef (oz)',
       'Water (r)', 'Dr. Pepper (l)', 'French Dip (lc)',
       'French Dip Au Jus', 'Large French Dip Meal', 'Ice Cup ',
       'Chili Cheese Fries (wlm)', 'Onion', 'Fork', 'Large Drink (wlm)',
       'Diet Dr. Pepper (r)', 'Light Ice', 'Large Roast Beef (c) (px)',
       'Pepperoncini', 'Ketchup (Packet)', 'Side Salad',
       'Italian Dressing', 'Small Coke', 'Ranch Dressing',
       'Hot Fudge Sundae', 'Coke Zero (r)', 'Pepper Jack Cheese',
       'Regular Coke', 'Italian Beef (lc)', 'Large Italian Beef Meal',
       'Large Ice Tea', 'Lemon', 'Mini Cone.', '**FOR LATER**',
       'Bag Fries.', 'Cub Roast Beef (c)', 'Small Drink', 'Coke (s)',
       'Cub Meal', 'Rare', 'Bowl Chili', 'Crackers', 'Diet Coke (r)',
       'Butcher Block Cobb Salad', '(1) Hot Dog', 'Medium Well',
       'Cup Cheddar Cheese', 'French Dip', '2 Hot Dog (rc)',
       'Regular 2 Hot Dog Meal', 'Mustard (Packet)', 'Sprite (l)',
       'Chocolate Chip Cookie Custard Sandwich',
       'Regular Roast Beef (Meal Deal)', 'Bag Fries', "Barq's (s)",
       'Reg Meal Deal', 'Diet Coke (s)', 'Bag Fries..', 'Ice Tea (s)',
       'Regular Turkey', 'Gogurt.', 'Cub Hot Dog (c)',
       'Regular Sweet Potato Waffle Fries', 'Regular Fries. (OLO)',
       'Large Drink.', 'Beef Pound',
       "Regular Sweet 'n Smoky Pulled Pork (c)",
       "Regular Sweet 'n Smoky Pulled Pork Meal", 'King Ham (c)',
       'King Ham Meal', 'Mini Cone', 'King Roast Beef',
       "Regular Sweet 'n Smoky Pulled Pork", 'Mini Dip Cone',
       'Large Roast Beef', 'Regular Turkey (c)', 'Regular Turkey Meal',
       'Cub Turkey (c)', 'Apple Juice', 'Apple Slices..', 'Veggie Sticks',
       'Water (l)', 'Diet Coke (l)', 'Salt (Packet)',
       'Large Sweet Potato Waffle Fries', 'Regular Chocolate Shake',
       "Barq's (l)", 'Italian Beef (rc)', 'Regular Italian Beef Meal',
       'Large Coke', 'Large Sweet Potato Waffle Fries (OLO).',
       'Coke Zero (l)', 'Royale Cookie', 'Bottled Water', '**SAME  CAR**',
       'BBQ Sauce (Tangy)', 'Miracle Whip (Packet)', '2x Provel Cheese',
       'Pickles', 'Large Ham (c)', 'Large Ham Meal', 'Regular Ham (c)',
       'Regular Ham Meal', "Cub Mac N' Cheese (c)",
       'Cup Broccoli Cheese Soup', 'Large Turkey (c)',
       'Large Turkey Meal', 'Large Orange Freeze',
       'Regular Orange Freeze', 'Bacon', '2x Cheddar Cheese',
       'Regular Concrete', 'Oreo (r)', 'M&M (r)', '1/2 & 1/2 Ice Tea (l)',
       '3 Pc. Cookie (OLO)', 'Regular Float', 'Large Dip Cone',
       'Large Turkey', 'Regular Butcher Block', 'Gogurt..',
       'Cub Toasted Cheese Sandwich (c)', 'Large Cone',
       'Regular Diet Coke', 'Large Diet Dr. Pepper',
       'French Bread (W/Bowl)', 'French Dip (rc)',
       'Regular French Dip Meal', 'Large Sprite',
       'Regular Sweet Potato Waffle Fries. (OLO)',
       '1/2 & 1/2 Ice Tea (r)', 'Texas Toast', 'Take Home Custard (OLO)',
       'Strawberry (th) (OLO)', 'Long Spoon', 'Chocolate (th) (OLO)',
       'Regular Dr. Pepper', 'Chocolate Chip Cookie.', 'Sprite (s)',
       'Apple Slices.', 'Cub Roast Beef (c) (px)', 'Cheddar (Side)',
       'Chocolate Chip Cookie..', 'Large SWEET Tea', 'Regular Ham',
       'Cole Slaw', 'SWEET Tea (r)', 'Chives', '3 PC Cookie',
       'Sugar Cookie.', 'Sugar Cookie..', 'Jalapeno', 'Powerade (r)',
       'Regular Lemonade', 'Croutons', 'Cub Ham', 'Regular Cheese Fries',
       'Lemonade (r)', 'Cub Turkey (c) (px)',
       'Regular Butcher Block (rc)', 'Regular Butcher Block Meal',
       'Chipotle Ranch Sauce', 'Large Dr. Pepper', '2% Milk',
       'Cub Turkey', "Regular Barq's", '2x Seasoning', "Mac N' Cheese",
       'House Chips', 'Cole Slaw (OLO)', 'Lemonade (s)', 'Extra Ice',
       'Gourmet Bun', 'Large Cheese Fries', 'Side Broccoli',
       'Regular Vanilla Shake', 'Chili Cheese Fries', 'Chocolate Milk',
       'Regular Fries (wcm)', 'Crispy', 'Large Drink (wom)',
       'Reg Drink (wom)', 'French Dip (rc) (px)', 'Au Jus (Premium)',
       'Regular Roast Beef (c) (px)', 'Italian Beef (rc) (px)',
       'No Peppers', 'Shaker SM', 'Bowl Broccoli Cheese Soup (px)',
       'French Bread (Side)', 'Soup Spoon', 'King Turkey',
       'SWEET Tea (s)', 'Large Strawberry Shake', 'Small Diet Coke',
       'Mild Giard', 'King Turkey (c)', 'Cub Roast Beef ',
       'Dr. Pepper (s)', 'Regular SWEET Tea', 'Relish (Packet)',
       'Veggie Sticks..', 'A1 Sauce (Packet)', 'Toasted Cheese Sandwich',
       'Large Concrete', 'M&M (l)', 'Au Jus (Container)', 'No Seasoning',
       'Regular Turkey (c) (px)', 'House Chips (wom)', 'Dish of Custard',
       'Regular Strawberry Shake', 'King Ham', 'Large Fries.... (OLO)',
       'Toasted', 'Steak Bun', 'Mini Cone..', 'Fanta (l)',
       'Regular Ice Tea', '***ALLERGEN*** ', 'Hellmanns (Packet)',
       'Chocolate Chip (r)', 'Chocolate Chip ', 'Royale',
       'Veggie Sticks.', 'Large Strawberry Shake (Online)',
       'Italian Beef', 'Coke Zero (s)', 'Wheat Bun', 'Large Diet Coke',
       'Pepper (Packet)', 'Powerade (l)', 'Veggie Sticks. (OLO)', 'Knife',
       'Bag Fries (wmd)', 'Reg Drink (wmd)', 'Large Float',
       'Bowl Chili (rc)', 'Regular Bowl Chili Meal', 'Mini Dip Cone.',
       'Cub Ham (c)', '2x Swiss Cheese', 'Large Ham', 'Small Drink (wmd)',
       'Turkey (oz)', 'Ranch', 'Sour Cream (Extra)', 'Regular Coke Zero',
       'Regular Sprite', "Cub Mac N' Cheese (c) (px)", 'Extra Butter',
       'Cub Hot Dog (c) (px)', 'Ketchup', 'A1 Sauce', 'Mello Yello (l)',
       'Royale Cookie..', 'Pepper', 'OLO Only Large Concrete', 'Oreo (l)',
       'Chocolate Chip.', 'Chocolate Chip..', 'Chocolate Chip Cookie',
       'King Turkey Meal', 'No Cheese', 'Chocolate Milk (wom)',
       'Apple Juice (wcm)', 'Cub Toasted Cheese Sandwich (c) (px)',
       'Mini Dip Cone..', '2% Milk (wcm)', 'Powerade (s)', 'Brioche Bun',
       "Regular Sweet 'n Smoky Pulled Pork (px)", 'No Cole Slaw',
       'Regular Vanilla Shake (Online)',
       'Regular Chocolate Shake (Online)', 'No Pickles',
       'Horseradish Sauce (Packet)', 'Large Vanilla Shake',
       'Cub Ham (c) (px)', 'French Bread', 'Chili Dog', 'Cup Tomato Soup',
       "Cub Mac N' Cheese", 'Mello Yello (r)', 'Cheddar (Shredded)',
       '1 Hot Dog (Meal Deal)', 'Cup Broccoli Cheese Soup (px)',
       'Miracle Whip', 'Chocolate Sundae', 'Regular Diet Dr. Pepper',
       'No Bun', '2 Hot Dog (rc) (OLO)', "Large Barq's", 'Lite Italian',
       'Regular Ham (Meal Deal)', 'Mello Yello (s)', 'Chocolate (r)',
       'Regular Butcher Block (lc)', 'Large Butcher Block Meal ',
       'Lettuce', 'Family Broccoli Cheddar', '4 Pcs French Bread (Side)',
       'Roast Beef Full Portion', 'Large Powerade', 'Sweet & Low',
       'King Roast Beef (c) (px)', 'Large Coke Zero',
       'Regular Mello Yello', 'Diet Dr. Pepper (s)', 'Extra Swiss Cheese',
       'Hot Sauce', 'Hot', 'Cold', 'Bag Fries (OLO)', 'Fanta (r)',
       'Large Chocolate Shake', 'w/ Chili',
       'Large Sweet Potato Waffle Fries (OLO)..',
       'Large Vanilla Shake (Online)', 'Royale.', 'Royale..',
       'Bottled Water (wom)', '1/2 & 1/2 Ice Tea (s)', 'Chocolate (l)',
       'Vitamin Water (r)', 'Hellmanns', 'No Butter', 'Bistro',
       'Large Ham (c) (px)', 'Honey Horseradish', 'Chocolate Chip (l)',
       'Regular Sweet Potato Waffle Fries (WOM)',
       'Chocolate Chip Cookie Custard Sandwich (px)',
       'Baked Potato (OLO) (a la cart)', 'Take Home Custard', 'Relish',
       'Large Chocolate Shake (Online)',
       'Large Chocolate Shake (Online) (wlm)',
       'Regular Butcher Block (px)', 'Large Drink (wmd)', 'No Ice',
       'Regular Turkey (Meal Deal)', 'Strawberry (Extra)',
       '(2) Cookie Sandwich (px)', 'Chili Dog (lc)',
       'Large Chili Dog Meal', 'Chocolate (th)', 'Cole Slaw (Cater) ',
       'Chocolate Chip Cookie (Cater) ', 'Regular Roast Beef (Cater) ',
       'Swiss Cheese (Cater) ', 'Butcher Block Cobb Salad (Cater) ',
       'Cater (Open $)', 'Deliver Charge (Cater)', 'Large Lemonade',
       'Bowl Tomato Soup', 'Cup Tomato Soup (px)', 'Strawberry',
       'Fanta (s)', 'Small Coke Zero', 'Balsamic', 'Strawberry (l)',
       'Cranberry Custard Sandwich', 'Regular Powerade',
       'Regular 1/2 & 1/2 Ice Tea', 'Chili Dog (rc)',
       'Regular Chili Dog Meal', 'Cranberry Cookie', "Small Barq's",
       '2 Hot Dog (lc)', 'Large 2 Hot Dog Meal', 'Extra Toasted',
       'Apple Slices', 'Small Sweet Tea', 'Mustard',
       '6 Original Buns (Bulk)', 'Small Drink (OLO)', 'Bowl Chili.',
       'Large Drink (wcm)', 'Vitamin Water (l)', 'Large Vitamin Water',
       "Cub Sweet 'n Smoky Pulled Pork (c)", 'Large 1/2 & 1/2 Ice Tea',
       'Extra Pepper Jack Cheese', 'Orange (r)', 'Ham (oz)',
       'Extra Provel Cheese', 'Large Fanta', 'Regular Chicken Sandwich',
       'Bowl Broccoli Cheese Soup (wom)', 'House Chips (OLO)',
       'Cinnamon Roll', 'Small Dr. Pepper', 'Orange (l)', 'Cub Hot Dog',
       'Shaker LG', 'Ham Full Portion', 'Salt',
       'Chili Cheese Fries (wom)', 'Cub Toasted Cheese Sandwich',
       'Regular Ham (c) (px)', 'Splenda', 'Bowl Chili (wom)',
       'Toasted Cheese (rc)', 'Regular Toasted Cheese Meal',
       '1/2 and 1/2', 'Regular Vanilla Shake (Online) (wcm)',
       'Small Ice Tea', 'Small Diet Dr. Pepper', 'Barilitos (l)',
       'Royale Cookie.', 'Large Turkey (c) (px)', 'Toasted Cheese (lc)',
       'Large Toasted Cheese Meal', 'King Ham (c) (px)',
       'Cranberry Cookie..', 'Vitamin Water (s)',
       "Regular Sweet 'n Smoky Pulled Pork (WOM)", 'Extra Cheddar Cheese',
       'Regular Chocolate Shake (Online) (wcm)', 'Extra Crackers',
       'Hot Dog Bun', 'Bottom Buns', 'Regular Fanta',
       'Bleu Cheese Crumbles', 'Small Sprite', 'Tomato', 'Oreo',
       'Extra Au Jus', '2x Pepper Jack Cheese', 'Side Salad (OLO)',
       'Hot Fudge', 'Hot Fudge (Extra)', 'Mayo',
       'Cub 2 Chicken Tenders (c) (px)', 'Regular Chicken Sandwich (c)',
       'Regular Chicken Sandwich Meal', '(2) Tenders (px)',
       'Gluten Free Bun (Bulk)', 'Water',
       'Regular Chocolate Shake (Online) (wlm)', 'Large Float (wom)',
       'Bowl Chili (lc)', 'Large Bowl Chili Meal', 'Small Lemonade',
       'Cole Slaw (wom)', 'Bowl Chili (wlm)', 'Regular Drink.',
       'Large Float (wlm)', 'Regular Float (wom)', 'Gogurt',
       'Large Chocolate Shake (Online) (wom)', 'Pocket Tee Shirt',
       'Sugar', 'Regular Chicken Sandwich (px)', 'Extra Mayo',
       'Large Orange Freeze (px) (wlm)', 'Large Orange Freeze (px) (wcm)',
       'Extra Pickles', '(2) Tenders', '6 Steak Buns (Bulk)',
       'Cub 2 Chicken Tenders (c)', 'Chocolate', 'King Turkey (c) (px)',
       'Regular Sweet Potato Waffle Fries (OLO).', 'Vanilla',
       'Cub 2 Chicken Tenders', 'Side Salad (wom)', 'Cranberry Cookie.',
       'Large Mello Yello', 'Large Vanilla Shake (Online) (wlm)',
       'Large Strawberry Shake (Online) (wlm)',
       'Large Strawberry Shake (Online) (wom)',
       'Regular Chicken Sandwich (c) (px)', 'Chipotle Ranch Dressing',
       'Beef Half Pound', 'Veggie Sticks (wom)', 'Cup Chili (wlm)',
       'Regular Orange Freeze (px) (wcm)',
       'Large Roast Beef (c) (Cater) ', 'Large Roast Beef Meal (Cater) ',
       "Mac N' Cheese (Cater) ", 'Large Roast Beef (Cater) ',
       'Family Chili', 'Ornament', 'Small Powerade', 'Side Salad (wlm)',
       'Family Broccoli Cheddar (px)', 'Family Tomato Soup', 'LC Glass',
       'Original Bun (Bulk)', 'Veggie Sticks (wlm)',
       'Bowl Chili (rc) (px)', 'Regular Orange Freeze (px) (wom)',
       'No Mayo', 'Regular Crispy Fish', 'Regular Crispy Fish (px)',
       'No Tartar', 'NO Swiss Cheese', 'Regular Crispy Fish (c)',
       'Regular Crispy Fish Meal', 'Tartar', 'King Crispy Fish (c)',
       'King Crispy Fish Meal', 'Extra Tartar', 'King Crispy Fish (px)',
       'King Crispy Fish (c) (px)', 'King Crispy Fish',
       'Regular Crispy Fish (c) (px)',
       'Regular Roast Beef Box Lunch (Cater)', 'Regular Turkey (Cater) ',
       'Regular Turkey Box Lunch (Cater)', 'Bowl Tomato Soup (px)',
       'Large Orange Freeze (px) (wom)', 'Small 1/2 & 1/2 Ice Tea',
       'Large Barilitos', 'Cut 1/2', 'Cup Chili (wom)',
       'Bowl Tomato Soup (wlm)', 'LC Mug', 'Provel Cheese (Cater) ',
       'Garden Salad (Cater) ', 'NO Lettuce', 'NO Honey Horseradish',
       'Worcestshire Sauce', 'Extra Croutons', 'Wheat Bun (Bulk)',
       'Brioche Bun (Bulk)', 'Steak Bun (Bulk)',
       'Texas Toast 2 Slices (Bulk)', 'Barilitos (r)', 'No Loyalty',
       'Roast Beef', 'Regular Chocolate Shake (Online) (wom)',
       'Large P-Mint C Crunch Concrete', 'Turkey Half Pound',
       '2x Cheddar Cheese (Shredded)',
       'Regular Vanilla Shake (Online) (wlm)',
       'Cup Creamy Chicken & Rice', 'LC Therm-O Bag', 'Strawberry (th)',
       'Oreo (Extra)', 'No Toasted', 'Wooden Nickels (4 for $1)', 'Ham',
       '2% Milk (wlm)', 'Family Chili (px)', 'Turkey Pound', 'Ham Pound',
       'Pork (oz)', 'Large Vanilla Shake (Online) (wom)',
       'Turkey Full Portion', "Family Mac N' Cheese",
       'Regular Orange Freeze (px) (wlm)', '(1) Hot Dog (Cater) ',
       'Regular Vitamin Water', 'French Dip Au Jus (Container)',
       'Cheese SWS (Bulk)', 'Small Vitamin Water', 'Small Fanta',
       'Bowl Creamy Chicken & Rice', "Cub Sweet 'n Smoky Pulled Pork",
       'Family Broccoli', 'No Tomatoes', 'Cup Broccoli Cheese Soup (wlm)',
       'Extra Cole Slaw', 'Large Sweet Potato Waffle Fries (WLM)',
       'Small Mello Yello', 'Knit Beanie',
       'Cup Broccoli Cheese Soup (wom)', 'Cup Tomato Soup (wom)',
       'Crispy Edge Pot stickers',
       'Regular Strawberry Shake (Online) (wlm)', 'Chocolate (Extra)',
       'Regular Roast Beef (c) (Cater) ',
       'Regular Roast Beef Meal (Cater)',
       'Veggie Sticks W/Ranch (Cater) ',
       'Garden Salad (Salad & Cookie) (Cater)',
       'Regular Turkey (c) (Cater) ', 'Regular Turkey Meal (Cater)',
       'Cup Chili (Cater)', 'Regular Ham (Cater) ',
       'Regular Ham Box Lunch (Cater)',
       'Regular Vanilla Shake (Online) (wom)', 'w/ Slaw', 'Barilitos (s)',
       '6 French Bread (Bulk)', 'Extra Cheese',
       'Regular P-Mint C Crunch Concrete', 'Regular Barilitos',
       'Large Ham (Cater) ', 'Large Turkey (Cater) ', 'Cheese PJK (Bulk)',
       'Regular Roast Beef (ft)', 'Fries (ft)', '10oz Custard (ft)',
       'Cup Cheddar Cheese (ft)', 'Regular Turkey (ft)',
       'Swiss Cheese (ft)', 'Cheddar Cheese (ft)', 'King Roast Beef (ft)',
       'King Turkey (ft)', 'King Ham (ft)', 'LC Socks',
       'Cheese PVL (Bulk)', 'Regular Strawberry Shake (Online) (wcm)',
       "Kaldi's Cold Brew", 'Cub 2 Chicken Tenders (px)',
       'Snack Roast Beef (Cater)', 'Water Bottle',
       'Butcher Block Salad (Salad & Cookie) (Cater)', '(1) Hot Dog (ft)',
       'Coke (20oz) (ft)', 'Regular Ham (ft)', 'Dr. Pepper (20oz) (ft)',
       'Powerade Red (20oz) (ft)', 'Powerade Blue (20oz) (ft)',
       'Bowl Broccoli Cheese Soup (wlm)', 'Green Beans',
       'Regular Strawberry Shake (Online) (wom)', 'Hot Dog (Cater) ',
       'Cup Broccoli Cheese Soup (Cater) ', 'French Bread (Bulk)',
       'Peppermint (r)', 'Chocolate Chip', 'Regular Decaf', 'M&M (Extra)',
       'Diet Dr. Pepper (20oz) (ft)', 'Diet Coke (20oz) (ft)',
       'Bottled Water (ft)', 'Snack Turkey (Cater)', 'Snack Ham (Cater)',
       'Ham Half Pound', 'GF Bun (ft)', "Mac N' Cheese - Bulk (Cater)",
       'Cheddar Sauce', 'Hoodie', 'Side Salad (Cater) ',
       'Large Turkey (c) (Cater) ', 'Large Turkey Meal (Cater) ',
       'Greek Dressing', 'Hashbrowns', '-', 'LC Glass (2 Pack)',
       'Regular Lemon Freeze', 'Large Lemon Freeze',
       'Sugar Cookie Crumble (r)', 'Chocolate Chip Cookie Crumble (r)',
       'Turkey', 'Large Ham (c) (Cater) ', 'Large Ham Meal (Cater) ', nan,
       'Cub Bun (Bulk)', 'Pepper Jack Cheese (Cater) ', 'Large Coffee',
       'Large Chocolate Shake (Online) (wcm)', 'Utensil Kit',
       '6 GF Buns (Bulk)', 'Asst. Cookie (Cater) (Platter)',
       'Choc Chip Cookie (Cater)  (Platter)',
       'Sugar Cookie (Cater)  (Platter)', 'Gal Ice Tea (Cater)',
       'Gal Lemonade (Cater)', "Kaldi's Cold Brew Can", 'M&M',
       'Family Cole Slaw', 'Large Vanilla Shake (Online) (wcm)'],
      dtype=object)

In [40]:
df_pos_combined = df_pos_combined.drop(columns = ['Item PLU','Has Employee Discount','Has Customer','Is Modifier'])

In [41]:
list(df_pos_combined)

['Location',
 'Closed Date/Time',
 'Employee Name',
 'Item ID',
 'Item Name',
 'Price',
 'Discount Total',
 'Promotion Total',
 'Taxes',
 'Net Sales',
 'Gross Sales',
 'Total Sales',
 'Revenue Center',
 'Destination',
 'Voided',
 'Order ID']

In [42]:
#df_pos_combined.to_csv('pos_combined.csv')